.bg-main-purple {
    background-color: #66455a;
}

.z-index-3 {
    z-index: 300;
}

.h-40 {
    height: 40px;
}
.w-40 {
    width: 40px;
}

.mt-10 {
    margin-top: 160px;
}

.overflow-x-hidden {
    overflow-x: hidden;
}
