.bg-main-purple {
    background-color: #66455a;
}

.z-index-3 {
    z-index: 300;
}

/* === Height and Width === */

.h-70 {
    height: 700px;
}

.h-74 {
    height: 740px;
}

.mt-10 {
    margin-top: 160px;
}

.overflow-x-hidden {
    overflow-x: hidden;
}
